html, body, #root, .App {
  height: 100%;
}

.Sidebar {
  height: calc(100% - 100px);
  width: 320px;
  background-color: #D6D8D8;
  display: flex;
  float:left;
  border-color:#ADADAD;
  border-width: 1px;
  border-style: solid;
  box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.2);
}

.ColorGrid-container {
  height: calc(100% - 100px);
  width: calc(100% - 362px);
  margin-left: 360px;
  float: right;
  background-color: #FFFFFF;
  position: absolute;
}
