.ColorGridSwatch-container {
  background: #FDFDFD;
  display: flex;
  flex-wrap: wrap;
  height: 261px;
  width: 220px;
  border-color:#FDFDFD;
  border-width: 1px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  
  /* Flex Fallback */
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
}

/* Per https://codepen.io/geoffgraham/pen/EbVELV, "if Grid is supported, remove the margin we set for the fallback" */
@supports (display: grid) {
  .ColorGridSwatch-container {
    margin: 0;
  }
}

.color-square {
  height:80%;
  width:100%;
  background-color:var(--color-square-color);
  display: flex;
  float:left;
}

.hex-code-container {
  font-family: 'Source Serif Pro', serif;
  /* Per https://thoughtbot.com/blog/how-to-make-quick-calculations-in-sketch, 
  "The calculation for the line height is: [font size]*[line-height]" - 
   consequently, line height here is calculated via dividing the Sketch specified
   line height (30) by the Sketch specified font size (24) */
  line-height: calc(30/24); 
  font-size: 24px;
  font-weight: 400;
  color:#363C3C;
  background-color:rgba(0, 0, 0, 0.0);
  padding: 0px;
  margin-left:24.5px;
  margin-top:5px;
  display: inline-block;
  float:left;
}