
.ColorGrid-grid {
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;
  
  /* Supports Grid */
  display: grid;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 40px 17px;
}

.ColorGrid-grid-list-view {
  grid-template-columns: repeat(auto-fill, minmax(218px, 1fr));
}

.ColorGrid-grid-tints_and_shades_grid_view {
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
}

